{% extends "layout.html" %}

{% block title %}All Cubes{% endblock %}

{% block content %}
<h1>All types of cubes</h1>

<div class="d-flex m-4 justify-content-between">
    <a href={% url "home" %} class="btn btn-outline-primary">Back</a>
    <a href={% url "add_course" %} class="btn btn-primary">Add New Course</a>
</div>

<div class='row'>
    {% for course in page_obj %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card m-2">
                <img src={{course.image.url}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{course.name}}</h5>
                    <a href={% url "course" course.id %} class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {% empty %}
        <p>No courses available.</p>
    {% endfor %}
</div>

<!-- Pagination Controls -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
